html {
    font-size: 16px;
}


  
  .navbar-collapse {
    text-align: center;
  }


#input{
        border:transparent;
        background-color: transparent;
        
      }
      input:focus,
      select:focus,
      textarea:focus,
      button:focus {
          outline: none;
      }
      .input-group{
        border: 1px rgb(236, 231, 231) solid;
        padding: 5px;
        border-radius: 25px;
        margin-top: 1rem;
        width: 582px;
        
      }

      #button1 {
          border: none;
          background-color: #f8f9fa;
          color: black;
          font-weight: 350;
          font-size: 0.9rem;
      }

      #button2 {
        border: none;
        background-color: #f8f9fa;
        color: black;
        font-weight: 350;
        font-size: 0.9rem;
    }

    .undersec {
        font-size: 0.8rem;
    }

    .footer {
        position: fixed;
        background-color: rgba(230, 230, 230, 0.39);
        width: 100%;
        padding:0px;
        margin-left:0;
        bottom: 0;
        left:0;
        text-decoration: none;
        font-size: 0.65rem;
        color:black;
    
    }

    .footerup {
  padding: 10px 30px;
  border-bottom: 1px solid #dadce0;

    }

    .footerdown {
        padding: 10px 30px;
      
          }

          .linkfooter{ text-decoration: none;
    color: black;
padding-right: 10px;}

    .linkfooter:hover{ text-decoration: none;
        color: black;}

      @media  (max-width: 720px) {
        .input-group {
            width: 400px;
        }
    }
        @media  (max-width: 450px) {
            .input-group {
                width: 300px;
            }
            .footerdown {
                padding: 10px 20px;
              
                  }
                  .linkfooter{ 
                padding-right: 5px;}

                .footer {font-size:0.5rem;}
      }
