html {
    font-size: 16px;
}


  
  .navbar-collapse {
    text-align: center;
  }

  .navbar{
    font-size: 0.9rem;
  }

  .rightlogo {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      
  }

  #rightlogobox {
      padding-top: 4px;
  }

  #rightlogobox:hover .rightlogo{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 0px 4px rgba(223, 223, 223, 0.788);
}

#googlelogo {
    width:272px;
    height: 92px;
    margin-bottom: 0.6rem;

}

#searchlogo {
    padding-left: 0.5rem;
}

#miclogo {
    padding-right: 0.5rem;
}

#maincontainer {
    margin-top: 5.6rem;
}


#input{
        border:transparent;
        background-color: transparent;
        
      }
      input:focus,
      select:focus,
      textarea:focus,
      button:focus {
          outline: none;
      }
      .input-group{
        border: 1px rgb(236, 231, 231) solid;
        padding: 5px;
        border-radius: 25px;
        margin-top: 1rem;
        width: 582px;
        height:48px;
        transition: 5ms;
        
      }

      .input-group:hover {
       
      /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 1px 2px 2px 1px rgba(223, 223, 223, 0.788);

      }

      #button1 {
          border: none;
          background-color: #f8f9fa;
          color: black;
          font-weight: 350;
          font-size: 0.9rem;
      }

      

      #button2 {
        border: none;
        background-color: #f8f9fa;
        color: black;
        font-weight: 350;
        font-size: 0.9rem;
    }
    #button1:hover {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 0px 1px rgba(223, 223, 223, 0.788);
    }
    #button2:hover {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 0px 1px rgba(223, 223, 223, 0.788);
    }

    .undersec {
        font-size: 0.8rem;
    }

    .footer {
        position: fixed;
        background-color: rgba(230, 230, 230, 0.39);
        width: 100%;
        padding:0px;
        margin-left:0;
        bottom: 0;
        left:0;
        text-decoration: none;
        font-size: 0.65rem;
        color: rgb(112, 111, 111);
    
    }

    .footerup {
  padding: 10px 30px;
  border-bottom: 1px solid #dadce0;
 

    }

    .footerdown {
        padding: 10px 30px;
        
      
          }

          .linkfooter{ text-decoration: none;
            color: rgb(112, 111, 111);
padding-right: 10px;}

    .linkfooter:hover{ text-decoration: underline;
        color: rgb(112, 111, 111);
        }

      @media  (max-width: 720px) {
        .input-group {
            width: 400px;
        }
    }
        @media  (max-width: 450px) {
            .input-group {
                width: 300px;
            }
            .footerdown {
                padding: 10px 20px;
              
                  }
                  .linkfooter{ 
                padding-right: 5px;}

                .footer {font-size:0.5rem;}
      }
